<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerPointGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerPointGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PowerPointGenerator.Properties.Settings>
            <setting name="DestinationFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseSettingsFolder" serializeAs="String">
                <value />
            </setting>
        </PowerPointGenerator.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PowerPointGenerator.Properties.Settings>
            <setting name="Template" serializeAs="String">
                <value>MBRRACE02.potx</value>
            </setting>
            <setting name="NameList" serializeAs="String">
                <value>list.txt</value>
            </setting>
        </PowerPointGenerator.Properties.Settings>
    </applicationSettings>
</configuration>